
@{
    ViewBag.Title = "CheckoutDetail";
    Layout = "~/Views/Shared/_AfterLayout.cshtml";
}
<div style="margin-left:550px;margin-top:250px;">
    <h2 class="center" style="color:green">Success</h2>
    <h3>Your Order is Place</h3>
    <h3>Your Order id is:@ViewBag.order_number</h3>
</div>
